@{
    ViewBag.Title = "Home Page";
}

<div class="tableWrapper">
    <h1>GoogleSearchPosition</h1>
</div>

<form action="home/login" method="post">
    <label for="SearchPhrase">Search Phrase:</label>
    <input type="text" id="SearchPhrase" name="SearchPhrase"><br><br>
    <label for="Url">Url:</label>
    <input type="text" id="Url" name="Url"><br><br>
    <input type="submit" value="Submit"><br><br>
    <input type="text" id="Result" name="Result">

    <div id="reactContainer"></div>
</form>
